.c-alert {
    margin-bottom: rem(30px);
    padding: rem(halve($base-gutter));
    border: 1px solid transparent;
}

.c-alert--success {
    color: alert('success', 'message');
    background-color: alert('success');
    border-color: alert('success', 'border');
}

.c-alert--info {
    color: alert('info', 'message');
    background-color: alert('info');
    border-color: alert('info', 'border');
}

.c-alert--warning {
    color: alert('warning', 'message');
    background-color: alert('warning');
    border-color: alert('warning', 'border');
}

.c-alert--error {
    color: alert('error', 'message');
    background-color: alert('error');
    border-color: alert('error', 'border');
}
