.c-btn {
    display: inline-block;
    padding: rem(0px) rem(40px);
    color: color('red');
    background-color: none;
    border: 2px solid color('blue');
    text-decoration: none;
    font-size: rem(18px);
    line-height: 36px;
    background-color: color('blue');
    color: color('white');
    font-family: ($Roboto-Bold);
    &:hover {
        background-color: color('blue', 'medium');
    }
}
