.c-footer {
    background-color: color('grey', 'dark');
    padding-top: 40px;
    nav {
        display: none;
        @include media(xs) {
            display: block;
        }
    ul {
        list-style: none;
        li {
            margin-bottom: 10px;
        }
    }
    }
    .c-footer__nav {
        h6 {
            display: none;
            @include media(xs) {
                display: block;
            }
        }
    }
    h6, p, a {
        color: color('grey');
        text-decoration: none;
    }
    h6 {
        padding-bottom: 20px;
        font-size: 18px;
        text-transform: uppercase;
    }
    p, a {
        font-size: 14px;
    }
    iframe {
        height: 350px;
        padding-bottom: 30px;
    }
    .c-footer__social {
        padding-bottom: 20px;
        ul {
            list-style: none;
            margin-left: -20px;
            margin-top: 30px;
            li {
                display: inline-block;
                padding: 0px 10px;
            }
        }
    }
    .c-footer__rights {
        height: 50px;
        background-color: color('grey', 'darker');
        p, a {
            padding: 0px 0px;
            color: color('grey');
            font-size: 12px;
            text-decoration: none;
        }
    }

}
