.c-content__hero {
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
    clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
    -webkit-clip-path: polygon(0 17%, 100% 0, 100% 83%, 0px 100%);
    clip-path: polygon(0 17%, 100% 0, 100% 83%, 0px 100%);
    margin-top: -80px;
}
