//Social media Control
.c-header__container {
    position: relative;
    z-index: 60px;
    background-color: color('white');
    padding-bottom: 90px;
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 69%, 0px 100%);
    clip-path: polygon(0 0%, 100% 0, 100% 69%, 0px 100%);
    @include media(md) {
        padding-bottom: 60px;
    }
}
.c-header__social {
    background-color: color('grey');
    position: relative;
    ul {
        list-style: none;
        display: block;
        width: 200px;
        position: relative;
        margin-top: 0px;
        margin-left: auto;
        margin-right: 0px;
        @include media-max(md) {
            margin-left: 0px;
            margin-right: auto;
        }
        li {
            display: inline-block;
            img {
                display: block;
                margin: 0px auto;
                padding-top: 10px;
                width: 30px;
                &:hover {
                    opacity: .5;
                }
            }
        }
    }
}
