// styles for listed items
.c-list {
    list-style: none;
    padding-left: rem(40px);
}
.c-list li  {
    @include font-size('p');
    font-weight: 500;
    color: color('grey', 'medium');
    font-size: rem(16px);
    line-height: 32px;
    margin-bottom: 10px;
    font-family: ($Roboto-Light);
    @include media(sm) {
        font-size: rem(20px);
    }
    p, a {
        font-weight: 500;
        font-size: rem(22px);
        font-family: ($Roboto-Light);
    }
}
.c-list li:before {
    content: "•";
    color: color('grey', 'dark');
    position: absolute;
    margin-left: neg(rem(15px));
    margin-top: rem(0px);
}
