.c-manage {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0px 100%);
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0px 100%);
    position: relative;
    z-index: 10;
    padding: 40px 0px;
    background-color: color('white');
    margin-top: -60px;
    @include media(xs) {
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0px 100%);
        clip-path: polygon(0 12%, 100% 0, 100% 100%, 0px 100%);
    }
    .c-manage__content {
        padding-top: 60px;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: left;
        font-size: 24px;
    }
    .c-btn {
        display: table;
        margin: 0px auto;
    }
}
