//Navigation Placement
.c-header__nav {
    margin-top: -20px;
}
// Navigation controls
.c-header__nav--left,
.c-header__nav--right {
    ul {
        list-style: none;
        width: 350px;
        display: block;
        margin-top: 100px;
        li {
            display: inline-block;
            padding: 0px 10px;
            a {
                text-decoration: none;
                font-family: ($Roboto-Bold);
                color:color('grey','dark');
            }
        }
    }
}
//Navigation left and right side
.c-header__nav--left {
    display: none;
    @include media(md) {
        display: block;
    }
    ul {
        margin-left: auto;
        margin-right: 0px;
    }
}
.c-header__nav--right {
    display: none;
    @include media(md) {
        display: block;
    }
    ul {
        margin-left: 0px;
        margin-right: auto;
    }
}
/// Mbile Men
// mobile navigation
.c-header__mobile {
    overflow-x: scroll;
    display: none;
    width: 100%;
    position: fixed;
    z-index: 40;
    height: 100%;
    background-color: color('white');
    margin-top: rem(0px);
    ul {
        position: relative;
        list-style: none;
        margin-top: rem(10px);
        li {
            text-align: center;
            .sub-menu {
                position: relative;
                left: rem(0px);
                margin-left: rem(0px);
                display: block;
                margin-top: rem(0px);
                display: none;
                li {
                    padding: rem(0px) rem(0px);
                    padding-left: rem(10px);
                }
            }
            a {
                text-decoration: none;
                font-size: rem(18px);
                color: color('blue');
                line-height: rem(40px);
                text-transform: uppercase;
                &:hover {
                    color: color('orange');
                }
            }
        }
    }
}
