.c-home--portfolio .o-row .c-portfolio__image--right {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    height: 100%;
    margin-top: 0;
    @include media-max(xs) {
        min-height: 280px;
    }
}
.c-portfolio__left {
        .o-col__inner {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        @include media(md) {
            margin-top: 40px;
            margin-left: auto;
            margin-right: rem(0px);
        }
    }
}
.c-portfolio__right {
    .o-col__inner {
        margin-right: auto;
        margin-left: auto;
        @include media(md) {
            margin-right: auto;
            margin-left: rem(0px);
        }
    }
}

.c-home--portfolio {
    overflow-x: hidden;
    background-color: color('white');
    h6, p {
        text-align: left;
        padding-bottom: 30px;
    }

    h6 {
        font-size: rem(18px);
        @include media(md) {
            font-size: rem(24px);
        }
    }
    .c-btn {
        padding: rem(0px) rem(15px);
    }
    .c-list {
        padding-bottom: 40px;

    }
}
