.c-projects__left {
        .o-col__inner {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        @include media(md) {
            margin-top: 40px;
            margin-left: auto;
            margin-right: rem(0px);
        }
        img {
            position: relative;
            margin-top: 0px;
            width: 100%;
            @include media(md) {
                margin-top: -120px;
                width: 500px;
                position: absolute;
            }
        }
    }
}
.c-projects__right {
    .o-col__inner {
        margin-right: auto;
        margin-left: auto;
        margin-top: 0px;
        @include media(md) {
            margin-top: 40px;
            margin-right: auto;
            margin-left: rem(0px);
        }
    }
}
.c-home--projects {
background-color: color('grey', 'dark');
h6, p {
    text-align: left;
    padding-bottom: 30px;
}

h6 {
    font-size: rem(18px);
    color: color('white');
    @include media(md) {
        font-size: rem(24px);
    }
}
.c-btn {
    padding: rem(0px) rem(15px);
    margin-top: 10px;
    margin-bottom: 10px;
}
.c-list {
    li {
        color: color('grey');
        &:before {
            color: color('grey');
        }
    }
}

}
