.c-content__header {
    h1 {
        line-height: 46px;
        padding-bottom: 0px;
    }
    hr {
        margin-top: 10px;
    }
}
.c-content--main {
    padding: 40px 0px;
    a {
        text-decoration: none;
    }
    .o-col {
        padding-bottom: 40px;
    }
}

.portfolio-template-default {
    .c-content--main {
        img {
            width: 60%;
            display: block;
            margin: 0px auto;
            padding-bottom: 20px;
            min-width: 320px;
        }
    }
    .gallery {
        .gallery-item{
            display: inline-block;
            padding: 0px 5px;
            width: 25%;
            img {
                display: inline-block;
                -webkit-transition: -webkit-transform 1.5s ease-in-out;
                transition:transform 1.5s ease-in-out;
                width: 100%;
                min-width: auto;
                &:hover {
                    -webkit-transform: rotatey(360deg);
                    transform: rotatey(360deg);
                }
            }
        }
    }
}
