
.c-header__toggle {
    display: block;
    position: fixed;
    overflow: hidden;
    padding: 0;
    width: rem(40px);
    height: rem(40px);
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    right: rem(10px);
    z-index: 1000;
    margin-top: 2px;
   @include media(md) {
       display: none;
   }
}
.c-header__toggle:focus {
    outline: none;
}

/////// design of icon controls


.c-header__toggle span {
    display: block;
    position: absolute;
    top: rem(18px);
    left: rem(7px);
    right: rem(7px);
    height: rem(2px);
    background-color: color('grey', 'dark');
}

.c-header__toggle span::before,
.c-header__toggle span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: rem(2px);
    background-color: color('grey', 'dark');
    content: "";
}

.c-header__toggle span::before {
    top: neg(rem(10px));
}

.c-header__toggle span::after {
    bottom: neg(rem(10px));
}

////////////////

.c-header__toggle--htx {
    background-color: color('grey');
}

.c-header__toggle--htx span {
    transition: background 0s 0.3s;
}

.c-header__toggle--htx span::before,
.c-header__toggle--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-header__toggle--htx span::before {
    transition-property: top, transform;
}

.c-header__toggle--htx span::after {
    transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-header__toggle--htx.is-active {
    background-color: color('grey');
}

.c-header__toggle--htx.is-active span {
    background: none;
}

.c-header__toggle--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-header__toggle--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-header__toggle--htx.is-active span::before,
.c-header__toggle--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}
