.c-welcome {
    position: relative;
    z-index: 10;
    padding: 20px 0px;
    background-color: color('grey');
    h1 {
        text-align: center;
        font-size: 24px;
        @include media(md) {
            font-size: 40px;
        }
    }
    p {
        text-align: center;
        font-size: 18px;
        @include media(md) {
            font-size: 24px;
        }
    }
    .c-btn {
        display: table;
        margin: 0px auto;
    }
}
