h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

h1 {
    @include font-size('h1');
    font-family: ($Roboto-Light);
    font-weight: lighter;
    color: color('grey', 'dark');
    text-transform: uppercase;
    padding-bottom: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    @include media(md) {
        line-height: 46px;
    }
}
h2 {
    @include font-size('h2');
    font-family: ($Roboto-Light);
    color: color('grey', 'dark');
    line-height: 36px;
    text-transform: uppercase;
}

h3 {
    @include font-size('h3');
    font-family: ($Roboto-Light);
    color: color('grey', 'dark');
    line-height: 36px;
    text-transform: uppercase;
}

h4 {
    @include font-size('h4');
    font-family: ($Roboto-Bold);
    color: color('blue', 'default');
    line-height: 36px;
    text-transform: uppercase;
    padding-bottom: 60px;
}

h5 {
    @include font-size('h5');
    font-family: ($Roboto-Bold);
    color: color('blue', 'default');
    line-height: 36px;
    padding-bottom: 20px;
}

h6 {
    @include font-size('h6');
    font-family: ($Roboto-Bold);
    color: color('grey', 'dark');
    line-height: 34px;

}

p {
    @include font-size('p');
    font-family: ($Roboto-Light);
    color: color('grey', 'medium');
    line-height: 26px;
    padding-bottom: 20px;
    @include media(md) {
        line-height: 32px;
    }
}

a {
    font-family: ($Roboto-Light);
    color: color('blue', 'medium');
}
