///
// Custom fonts
///

// Example
// @font-face {
//  font-family: 'questrialregular';
//  src: url('../../dist/fonts/questrial-regular-webfont.woff2') format('woff2'),
//       url('../../dist/fonts/questrial-regular-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
// }

@font-face {
 font-family: "Roboto-Light";
 src: url('../../dist/fonts/Roboto-Light.ttf');
 }

 @font-face {
  font-family: "Roboto-Bold";
  src: url('../../dist/fonts/Roboto-Bold.ttf');
  }
