///
/// Retrieve color from sass map $colors
///
/// @param {string} $color - Name of color to return from `$colors`.
/// @param {string} $variant - Name of alternate version of a color to return
/// from `$color` map in `$colors`.
///
/// @require {variable} $colors
///
@function color($color, $variant: 'default') {
    @if map-has-key($colors, $color) {
        $palette: map-get($colors, $color);

        @if (type-of($palette) != 'map') {
            @return map-get($colors, $color);
        } @else {
            @return map-get($palette, $variant);
        }
    } @else {
        @warn '`#{$color}` is not an available color or palette in `$colors`';
        @return null;
    }
}

///
/// Retrieve alert from sass map $alerts
///
/// @param {string} $alert - Name of alert to return from `$alerts`.
/// @param {string} $variant - Name of alternate version of a alert to return
/// from `$alert` map in `$alerts`.
///
/// @require {variable} $alerts
///
@function alert($alert, $variant: 'default') {
    @if map-has-key($alerts, $alert) {
        $palette: map-get($alerts, $alert);

        @if (type-of($palette) != 'map') {
            @return map-get($alerts, $alert);
        } @else {
            @return map-get($palette, $variant);
        }
    } @else {
        @warn '`#{$alert}` is not an available alert or palette in `$alerts`';
        @return null;
    }
}

///
/// Retrieve social network color from sass map $social-networks
///
/// @param {string} $social-network - Name of social network to return from $social-networks.
///
/// @require {variable} $social-networks
///
@function social($social-network) {
    @if map-has-key($social-networks, $social-network) {
        @return map-get($social-networks, $social-network);
    }
}
