@import "global/s-variables";
@import "global/t-fn-math";
@import "global/t-fn-measurement";
@import "global/t-fn-color";
@import "global/t-fn-z-index";
@import "global/t-mx-clearfix";
@import "global/t-mx-media-queries";
@import "global/t-mx-grid-framework";
@import "global/t-mx-link-states";
@import "global/t-mx-font-size";
@import "global/g-fonts";

body#tinymce {
    margin: rem(15px);
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: rem(30px);
    font-weight: 500;
    line-height: 1.5;
}

h1 {
    @include font-size('h1');
}

h2 {
    @include font-size('h2');
}

h3 {
    @include font-size('h3');
}

h4 {
    @include font-size('h4');
}

h5 {
    @include font-size('h5');
}

h6 {
    @include font-size('h6');
}
